@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.product-details {    
    overflow-x: hidden;
    margin-bottom: -$spacing-lg;
    margin-left: calc(($spacing-md + 9px) * -1);
    
    &__card {
        padding: $spacing-xxl $spacing-sm $spacing-md $spacing-lg;
        @include flex(column);
        gap: $spacing-lg;
        background-color: $white-color;
        border-radius: 48px 48px 0 0;    
        
    }
}
