@use '../../abstracts/variables' as *;

.card {
    position: relative;
    width: 155px;         
    border-radius: 12px 32px 0 12px;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: $spacing-xs $spacing-xs $spacing-xxs;

    &--reverse{
        border-radius: 32px 12px 0 12px;
        margin-left: auto;
    }

    &__brand {
        font-size: 12px;
        font-weight: 500;
        color: $dark-color;
    }

    &__image {
        width: 122px;
        height: 122px;        
        object-fit: contain;
    }

    &__price-rating {
        width: 100%;        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;  
        font-size: 16px;
        font-weight: 500;
        color: $deep-dark-color;
    }

    &__button {
        position: absolute;
        bottom: 0;        
        right: 0;        
    }

    &__button-text {
        font-size: 24px;                
    }
}