@use '../../abstracts/mixins' as *;
@use '../../abstracts/variables' as *;

.sku-header {
    @include flex(column);
    gap: $spacing-xs;
    
    &__brand-price {
        @include flex(row, space-between, center);        

        &--price {                        
            color: $primary-color;
        }
    }

    &__origin-stock {
        display: inline;
        color: $secondary-color;
    }
}