@use '../../abstracts/mixins' as *;
@use '../../abstracts/variables' as *;

.sku-description {
    @include flex(column, start);
    gap: $spacing-xs;

    &__content {
        width: 100%;
    }

    &__body{
        color: $secondary-color;
        margin: 0;

        &--read-more{
            color: $primary-color;
            font-weight: $font-weight-bold;
            cursor: pointer;
            margin-left: 0.25rem;
        }
    }
}