@use '../../abstracts/variables' as *;

.button {
    height: 54px;
    border-radius: 12px;

    &--primary {
        background-color: $primary-color;
        color: $white-color;
        width: 257px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

    &--icon {
        background-color: transparent;
        color: $primary-color;
        width: 54px;
    }

    &--add {
        background-color: $primary-color;
        color: $white-color;        
        width: 40px;
        height: 40px;
        border-radius: 0px 8px 0px 8px;
    }
}