@use '../../abstracts/variables' as *;

.pill {
    background-color: transparent;
    border-radius: 15.5px;
    border: 1px solid $secondary-color;    
    width: 87px;
    height: 31px;
    cursor: pointer;
    &--active {
        border-color: $primary-color;
    }

    &__text {
        text-align: center;
    }
}